body {
    font-size:1rem;
}

.form-control{
    padding:2px;
}

.tablex {
    table-layout: auto;
    font-size:0.8rem;
    width:100%;
}

.item {
    font-size:0.8rem;
    width:100%;
}

.bg-success{
    background-color:#7fd5e2!important;
}

.item-editable{
    background-color:#f5cc64;
}

.mainform{
    height: 200vh;
}

.itemssection{
    height: 80vh;
    overflow-y: scroll;
}

.summary{
    height:20vh;
}