body {
    font-size:1rem;
}

.form-control{
    padding:0.4em;
}

.tablex {
    table-layout: auto;
    font-size:0.8rem;
    width:100%;
}

.item {
    font-size:0.8rem;
    width:100%;
}

.bg-success{
    background-color:#7fd5e2!important;
}

.item-editable{
    background-color:#f5cc64;
}

.mainform{
    height: 50vh;
}

.headersection{
    padding: 0.4rem;
}

.itemssection{
    height: 70vh;
    overflow-y: scroll;
    border-top: #4a6c71 2px solid;
}

.summary{
    width: 100%;
    height:10rem;
    padding: 0.4rem;
    border-top: #4a6c71 2px solid;
}

.finaltext{
    border: #4a6c71 1px solid;
    padding: 0.3rem ;
    border-radius: 0.5rem;
    min-height: 3rem;
}